/* ------------- Header ------------- */

.header {
    z-index: 1024 !important;
}

.searchContent {
    width: 90% !important;
}

.header,
.searchContentContainer {
    background-color: #f7f8f8;
}

.countrySearch {
    width: max-content;
}

.test {
    width: fit-content;
}

.productSearch {
    width: 35%;
}

.productSearchButton {
    background-color: #002F34;
}


.loginButton,
.loginButton:hover {
    color: #002F34 !important;
}

.loginButton::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    top: 100%;
    left: 0;
}

.loginButton:hover::after {
    width: 0%;
}

.sellButton {
    top: -1px;
    left: 1.7rem;
    width: max-content;

}

.sellButtonContainer {
    cursor: pointer;
    z-index: 12 !important;
}



/* ------------- Header Media Queries ------------- */

@media (max-width: 992px) {

    .top,
    .bottom {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }
}


@media (max-width: 1025px) {
    .sellButtonContainer {
        position: fixed !important;
        bottom: 2rem;
        left: 43%;
    }

    .sellButton {
        top: 0.7rem;
    }
}

@media (max-width: 576px) {
    .sellButtonContainer {
        position: fixed !important;
        bottom: 2rem;
        left: 34%;
    }
}



/* ------------- Category ------------- */

.categorylist>ul>li {
    cursor: pointer;
}

.allCategories {
    top: 50%;
    z-index: 600 !important;
}

.main-category {
    font-size: 14px;
    text-decoration: none;
    color: #002f34;
}

.main-category:hover {
    color: rgb(0, 164, 159) !important;
}

.hamburger {
    background-color: #002F34;
}

/* ------------- Filter Menu ------------- */

.filterMenu {
    right: 0;
    top: 2rem;
    z-index: 500;
    border: 5px solid #23E5DB;
    border-radius: 5px;
}

.locationSearch {
    width: calc(100% - 2rem);
}

.filterBtns:hover {
    background-color: #C8F8F6;
}

.adjustScroll {
    overflow-x: scroll;
    white-space: nowrap;
    padding-block: 1rem;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #C6CFD1 !important;
    border-radius: 5px;
}

.hr {
    border: 1.4px solid #C6CFD1;
    border-radius: 5px;
}


/* ------------- Cards ------------- */

.card-img {
    width: 100%;
    object-fit: contain;
    height: 150px !important;
    background-color: rgb(34, 34, 34);
    border-radius: 5px 5px 0 0;
}

.cardHeightDisc {
    height: auto;
    min-height: 295px !important;
}

.cardHeightFull {
    height: auto;
    min-height: 450px !important;
}


@media (max-width: 992px) {
    .cardHeightDisc {
        min-height: 287px !important;
    }
}



.featur-btn {
    background-color: #FFCE32;
    font-size: 10px;
    top: 120px;
    left: 5px;
}

.cardFooter {
    font-size: 12px;
    color: rgb(56, 53, 53);
}


.heart-icon {
    right: 5px !important;
    top: 3px !important;
}

.feature-line {
    width: 5px;
    height: 100%;
    background-color: #FFCE32;
    border-radius: 0 0 0 5px;
}

.load-more-btn:hover {
    outline: 2px solid black !important;
    transition: 0.05s ease;
}

/* ------------- Download ------------- */

.download-section {
    background-color: #F7F8F9;
}

.download-section-divider {
    width: 2px;
    height: 8rem;
    background-color: #C6CFD1;
}

.store-icon-download {
    width: 7rem !important;
    margin-right: 0.4rem !important;
}

/* ------------- Download Media Queries ------------- */

@media (max-width: 768px) {
    .download-section {
        display: none;
    }
}

/* ------------- Footer ------------- */

.footer {
    background-color: #EBEEEF !important;
}

.footer-links {
    text-decoration: none;
    color: rgb(134, 134, 134);
    font-size: 12px !important;
}


.footer-links:hover {
    color: rgb(0, 0, 0) !important;
}

.social-icons {
    width: 1.8rem !important;
    margin-right: 0.4rem !important;
}

.store-icons {
    width: 5.5rem !important;
    margin-right: 0.4rem !important;
}

.copyRight {
    background-color: #002F34;
}

.copyRightText {
    font-weight: 100 !important;
    font-size: 12px !important;
}

@media (max-width: 379px) {
    .store-icons {
        margin-block: 6px;
    }

}


/* ------------- Product Listings ------------- */



.CheckboxContainer {

    display: flex;
    align-items: center;
}

.CheckBox {
    cursor: pointer;
    width: 1.3rem;
    height: 1.3rem;
    outline: none !important;
}

.CheckBoxLable {
    cursor: pointer;
}

.card-img-full {
    width: 100%;
    object-fit: contain;
    height: 300px;
    background-color: rgb(34, 34, 34);
    border-radius: 5px 5px 0 0;
}

.featur-btn-full {
    background-color: #FFCE32;
    font-size: 10px;
    top: 270px;
    left: 5px;
}

.viewBtn {
    padding: 4px;
    border-radius: 20px;
    font-size: 2rem !important;
}

.viewBtn:hover {
    background-color: #23E5DB;
}

.categoryFilter:hover {
    color: #002F34 !important;
}


@media (min-width: 992px) {
    .listingColumn {
        scale: 0.94;
        transform-origin: 0 2rem !important;
    }
}