* {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.max-width {
    width: max-content;
}

.max-height {
    height: max-content;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.grayShade {
    color: rgba(0, 47, 52, .64);
}

.curserPointer {
    cursor: pointer;
}

.w-80 {
    width: 83% !important;
}

.loading {
    width: 50% !important;
}

@media (max-width: 786px) {
    .loading {
            width: 70% !important;
        }
}